@model IEnumerable<COURSE_CNTT.Models.IE.COURSE>

@{
    ViewBag.Title = "Tìm kiếm";
    var list = new List<COURSE_CNTT.Models.IE.BLOG>();
}

<link href="~/css/menu.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<div class="container" style="margin-left: 15px;">
    <div class="Home_wrapper__53Los">
        <div class="ScrollList_vertical__hG0sb" style=" margin-left: 21px;">
            <div>
              
                <div class="ScrollList_heading-wrap__58LQx" style="align-items: baseline; display: flex;">
                    <div class="ScrollList_heading__BYEXH">
                        <h1 style="font-size: 24px; font-weight: 700; color: #000000; margin-bottom: 40px;">Khóa học miễn phí</h1>
                    </div>
                    @*<a href="#" class="ScrollList_view-all__MTYc1" style="text-decoration: none;">Xem lộ trình <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 1.2rem; margin-left: 4px; position: relative; top: -1px; transition: .3s ease;"></i></a>*@
                </div>
            </div>
            <div class="ScrollList_body__iMN-l">
                <section class="index-module_row__-AHgh" style="margin-left: -12px; margin-right: -12px; display: flex; flex-wrap: wrap;">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <section class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-4__30Uoi index-module_l-3__MjWvb">
                                <div class="CommonItem_wrapper__1FbHi Home_courseItem__aIeZ4" style="padding-bottom: 23px;">
                                    <a class="CommonItem_thumb__ew8Jj CommonItem_has-link__VLLrX" href="@Url.Action("Index","COURSE",new { @id = item.MACOURSE })" style="background-image: url('@item.HINH')">
                                        <button class="Button_btn__RW1e2 CommonItem_cta-btn__OK+oX"> Xem khóa học </button>
                                    </a>
                                    <h3 class="CommonItem_title__EpYrE" style="font-weight: 600;">
                                        <a href="@Url.Action("Index","COURSE",new { @id = item.MACOURSE })">@item.TENCOURSE</a>
                                    </h3>
                                    <div class="CourseItem_students-count__92kIg">
                                        <i class="fa fa-users" aria-hidden="true" style="display: var(--fa-display, inline-block); height: 1em; overflow: visible; vertical-align: -0.125em;"></i>
                                        <span> @item.ViewCount</span>
                                    </div>
                                </div>
                            </section>
                        }
                    }

                </section>
            </div>
            <div class="ScrollList_heading-wrap__58LQx" style="align-items: baseline; display: flex;">
                <div class="ScrollList_heading__BYEXH">
                    <h1 style="font-size: 24px; font-weight: 700; color: #000000; margin-bottom: 10px;">Bài viết nổi bật</h1>
                </div>
            </div>
            <div class="ScrollList_body__iMN-l">
                <section class="index-module_row__-AHgh" style="margin-left: -12px; margin-right: -12px; display: flex; flex-wrap: wrap;">
                    @Html.Action("BlogView", "BLOG")
                
                </section>
            </div>
        </div>
    </div>

</div>

<div class="App_withSidebar__8lwIi">
    <div class="App_sidebarWrap__3LwsB" style="color:black">

    </div>
</div>