@model COURSE_CNTT.Models.IE.CTKHOASV

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTKHOASV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COURSE.TENCOURSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE.TENCOURSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOCPHAN.KhoaHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOCPHAN.KhoaHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMHOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMHOC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
