@model COURSE_CNTT.Models.IE.VIDEO

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"> <i class="fas fa-bars"></i> </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home/index" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/VIDEOs" class="nav-link">Danh sách video bài học</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/VIDEOs/Create" class="nav-link">Thêm video mới</a>
        </li>
    </ul>
}

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="exampleInputEmail1">Link video (Thay watch?v= thành embed/ ở link youtube + '?showinfo=0&autoplay=1&controls=1')</label>
                        @Html.TextBoxFor(x => x.LINKVIDEO, new { @class = "form-control", @placeholder = "Link video" })
                        @Html.ValidationMessageFor(x => x.LINKVIDEO, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên khóa học:</label>
                        @Html.DropDownList("MACOURSE", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MACOURSE, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên video:</label>
                        @Html.TextBoxFor(x => x.TENBAI, new { @class = "form-control", @placeholder = "Tên video" })
                        @Html.ValidationMessageFor(x => x.TENBAI, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên chương:</label>
                        @Html.TextBoxFor(x => x.TENCHUONG, new { @class = "form-control", @placeholder = "Tên chương" })
                        @Html.ValidationMessageFor(x => x.TENCHUONG, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Thời lượng video:</label>
                        @Html.TextBoxFor(x => x.THOILUONGVIDEO, new { @class = "form-control", @placeholder = "Thời lượng video" })
                        @Html.ValidationMessageFor(x => x.THOILUONGVIDEO, null, new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBoxFor(x => x.hienthi, new { @class = "custom-control-input", @id = "customCheckbox2", @checked = "checked" })
                                    <label for="customCheckbox2" class="custom-control-label">Hiển thị</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a href="/admin/videos" class="btn btn-danger">Quay lại</a>
                    </div>
                }

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>


